@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    --card-bg: #777;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

.card-box{
    width: 15em;
    height: 15em;
    background: var(--card-bg);
    border: .05em solid var(--card-bg);
    border-radius: .5em;
    padding: .5em;
    margin: .20em;
}

.top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.note{
    resize: none;
    height: 80%;
    width: calc(100% - 1em);
}

.btn{
    color: white;
    background: hsl(200, 100%, 40%);
    border: .05em hsl(200, 100%, 40%) solid;
    border-radius: .25em;
    cursor: pointer;
}

.remove-note{
    background: hsl(0, 100%, 55%);
}